asgiref==3.2.7
beautifulsoup4==4.9.0
bluetool==0.2.3
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
decorator==4.4.1
Django==3.1.9
gunicorn==20.0.4
idna==2.9
imageio==2.8.0
imutils==0.5.3
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.1.2
networkx==2.4
Pillow==7.0.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
requests==2.23.0
six==1.14.0
sklearn==0.0
soupsieve==2.0
sqlparse==0.3.1
tcpbridge==1.1.1
urllib3==1.25.9
whitenoise==5.0.1
django-heroku==0.3.1
